* {
 padding: 0;
 margin: 0;
}
body
{
    font-style: hero;
    font-size: 18px;
}
.header
{
    height: fit-content;
    background-color: #000;
}
.line1
{
    display: flex;
}
.line2
{
    display: flex;
}
.header-logo 
{
 flex: 1;
 padding-left: 150px;
 padding-top: 30px;
 font-weight: bold;
 font-size: 24px;
 color: #f9faf8;
 display: flex;
 }
 .links
 {
    flex: 1;
     display: flex;
     justify-content: space-around;
     padding: 10px;
     padding-top: 30px;
     color: #f9faf8;
     list-style: none;
     align-items: center;
 }
 .webintro
 {
     flex: 1;
     padding-left: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     padding-top: 15px;
     padding-bottom: 80px;
     padding-top: 50px;

 }
 .webintro > h2
 {
     font-size: 48px;
     font-weight: bolder;
     width: 340px;
     color: #f9faf8;
 }
.webintro > p
{
 width: 380px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 18px;
 color: #e5e7eb;

}

 
 .imageSection
 {
     flex: 1;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-right: 40px;
     padding-top: 50px;
     padding-bottom: 80px;
     
 }
 .image-place-holder
 {
     width: 430px;
     height: 208px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: -15px;
     color: #f9faf8;
    
     
     
 }
 .image-place-holder > img
 {
    border-radius: 200px;
    height: 228px;
    width:500px;
 }
 .button 
 {
     padding: 10px 30px;
     background-color: #3882f6;
     color: #f9faf8;
     border-radius: 15px;
     border: 0;
 }
 .box

 {
     width:150px;
     height:150px;
     border: 5px solid #ee0f47;
     border-radius:10px;
 }
 .box > img
 {
    width:150px;
     height:150px;
     border-radius: 5px; 
 }
 .info
 {
     display: flex;
     flex-direction: column;
     
 }
 .collection
 {
     display: flex;
     justify-content: center;
     gap: 40px;
 }
 .content1{
     background-color: #ee0f47;
 }
 .subtext
 {
     width: 150px;
 }
 .content1 > h2
 {
     text-align: center;
     font-size: 32px;
     margin-bottom: 35px;
 }
 .content1
 {
     padding-bottom: 50px;
     padding-top: 50px;
 }
 .content2
 {
     background-color: #d6cdce;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top:50px;
     padding-bottom: 50px;
 }
 .saying
 {
     font-size: 36px;
     color: #1f2937;
     width: 1000px;
     font-style: italic;
     font-weight: lighter;
 }
 .sayer
 {
    font-size: 36px;
    color: #1f2937;
    width: 700px;
    align-self: flex-end;
    font-weight: bold;
 }
 .signup
 {
     background-color: #ee0f47;
     display: flex;
     justify-content: center;
     gap: 78px;
     width: 800px;   
     padding: 50px 30px;
     border-radius: 15px;
 }
 .button1
 {
    padding: 10px 20px;
     background-color: #fd0d35;
     color: #f9faf8;
     border-radius: 15px;
     border: 2px solid white;  
 }
 .content3
 {
     padding-top: 140px;
     padding-bottom: 140px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .secondarytext
 {
    font-size: 18px;
    color: #e5e7eb;
 }
 .maintext
 {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
 }
 .footer
 {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #f9faf8;
    padding: 40px;  
 }
 .name
 {
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
 }
 .header-logo > img
 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
 }